body
{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color:rgb(40, 40, 43);
    color:white;
}
#container
{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}
.rectangle
{
    width:960px;
    margin:20px;
    text-align:center;
    
}
.square
{
    float:left;
    width:50%;
   
}
#logo
{
    float:left;
    font-family: 'Josefin Slab', serif;
    font-size: 70px;
    width: 600px;
    text-align: left;
    
}
#zegar
{
    float:left;
    color:orange;
    font-size: 70px;
    text-align: left;
    
}
.tile1
{ 
    background-color:#3095d3;
    margin:10px;
    width:230px;
    height:142px;
    float: left;
    text-align: center;
}

.tile1:hover
{
    background-color:#2084c2;
}


.tile2
{ 
    background-color: #666666;
    margin:10px;
    width:230px;
    height:142px;
    float: left;
    text-align: center;
}

.tile2:hover
{
    background-color: #555555;
}

.tile3
{ 
    background-color:#93c748;
    margin:10px;
    width:230px;
    height:142px;
    float: left;
    text-align: center;
    
}

.tile3:hover
{
    background-color: #82b637;
}

.tile4
{ 
    background-color:#ee5232;
    margin:10px;
    width:420px;
    height:82px;
    text-align: center;
    padding:30px;
    font-size: 26px;
    line-height:150%;
}


.tile5
{   
    background-color:#666666;
    margin:10px;
    width:420px;
    height:244px;
    text-align: justify;
    padding: 30px;
}
.yt
{ 
    background-color:#d94348;
    margin:10px;
    width:105px;
    height:142px;
    float: left;
}

.yt:hover
{
    background-color: #c83237;
}

.fb
{ 
    background-color:#4668b3;
    margin:10px;
    width:105px;
    height:142px;
    float: left;
}  

.fb:hover
{
    background-color: #3557a2;
}

.gplus
{ 
    background-color:#d95333;
    margin:10px;
    width:105px;
    height:142px;
    float: left;
}  

.gplus:hover
{
    background-color: #c84222;
}

.tw
{ 
    background-color:#3095d3;
    margin:10px;
    width:105px;
    height:142px;
    float: left;
}  

.tw:hover
{
    background-color: #2084c2;
}

a.tilelink
{
    color: white;
    text-decoration: none;
    display: block;
    width:230px;
    height:142px;
}

a.tilelinkhtml5
{
    color: white;
    text-decoration: none;
}

a.sociallink
{
    color: white;
    text-decoration: none;
    display: block;
    width:105px;
    height:142px;
}